<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRevitExternalService">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint
           address="http://localhost:56789/RevitExternalService/RevitExternalService"
           binding="wsHttpBinding"
           bindingConfiguration="WSHttpBinding_IRevitExternalService"
           contract="RevitExternalAccessDemo.IRevitExternalService"
           name="WSHttpBinding_IRevitExternalService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>