<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRevitExternalService">
        </binding>
      </wsHttpBinding>
      <netNamedPipeBinding>
        <binding name="netPipeRevitExternalService"/>
      </netNamedPipeBinding>
        
    </bindings>
    <client>
      <endpoint
           address="net.pipe://localhost/RevitExternalService"
           binding="netNamedPipeBinding"
           bindingConfiguration="netPipeRevitExternalService"
           contract="RevitExternalAccessDemo.IRevitExternalService"
           name="IRevitExternalService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>